<div class="container-fluid">
  <div class="row header">
    <div class="col-sm-10">
      <h3>Cnideria Stinger</h3>
      <h5>Reclassify Cnidarians</h5>
    </div>
    <div class="col-sm-2">
      <div class="logo">
        <%= image_tag "logo_amnh.jpg" %>
      </div>
    </div>
  </div>
  <div class="row content-wrapper">
    <div class="col-sm-6">
      <div class="slider-container">
        <% @features.each do |feature| %>
          <div class="feature" id='slider-<%= feature.id %>'>
            <p></p>
            <p>
              <label for="desc"><%= feature.desc %>:</label>
              <input type="text" class="sliderValue" data-index="slider-range-<%= feature.id %>" readonly>
            </p>
            <div class="slider-range" id="slider-range-<%= feature.id %>"></div>
          </div>
        <% end %>
        <br />
        <input type='submit' value='search' class="search btn btn-primary" />
      </div>
    </div>
    <div class="col-sm-6">
      <div class="row" id="results">
        <div class="sketchfab-embed-wrapper">
          <iframe width="640" height="480" src="https://sketchfab.com/models/72bc781e772e46808ded8e02c8b66ceb/embed" frameborder="0" allowvr allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel=""></iframe>
          <p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;">
            <a href="https://sketchfab.com/models/72bc781e772e46808ded8e02c8b66ceb?utm_medium=embed&utm_source=website&utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">nematocysts_Mechanism-02b</a>
            by <a href="https://sketchfab.com/SamSpaeth?utm_medium=embed&utm_source=website&utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Sam Spaeth</a>
            on <a href="https://sketchfab.com?utm_medium=embed&utm_source=website&utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Sketchfab</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
